.gt-scroller {
    box-shadow: 0 0 5px grey;
    position: fixed;
    width: 100%;
}

.gt-scroller-upper {
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    top: 0;
}

.gt-scroller-lower {
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    bottom: -25;
}

.gt-scroller-key {
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    opacity: 0.4;
}

.gt-scroller-keyOpaque {
    opacity: 1;
}

.gt-scroller tr {
    margin: 0;
    padding: 0;
}

.gt-scroller td {
    padding: 5px;
    height: 90px;
    text-align: center;
}

.gt-scroller td > div{
    padding: 0;
    height: 100%;
}

.gt-scroller td > div:after{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
