body {
  background-color: black;
  color: white;
}

#heatmap {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.invisible {
  position: absolute;
  left: 2000px;
  top: 2000px;
}

.error {
  font-family: tahoma, sans-serif;
  font-size: 14pt;
}

div.controls {
  position: absolute;
  top: 40px;
  left: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  padding: 5px;
}

div.controls label {
  display: inline-block;
  width: 100px;
}

div.controls span {
  display: inline-block;
  float: right;
  margin-right: 5px;
}