#gt-chgd-calibOverlay {
    background-color: black;
    background-color: rgba(0,0,0,.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

#gt-chgd-calibOverlay:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

#gt-chgd-calib {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
    display: inline-block;
    position: relative;
    max-width: 80%;
    padding: 20px;
    vertical-align: middle;
}

#gt-chgd-calibClose {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4), 0 3px 3px rgba(0,0,0,.4);
    color: #444;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    padding: 8px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    top: -20px;
    width: 12px;
}

#gt-chgd-calibClose:hover {
    background: #ddd;
}

#gt-chgd-calibMenu {
    display: none;
}

#gt-chgd-calibMenu ul {
    background-color: #666666;
    background-image: linear-gradient(bottom, #666666, #7d7d7d);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    font: normal 16px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#gt-chgd-calibMenu li {
    list-style: none;
    padding: 0 2px;
    position: relative;
}

#gt-chgd-calibMenu a {
    border-radius: 5px;
    color: #e7e5e5;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#gt-chgd-calibMenu a:hover {
    background: #000;
    color: #fff;
}

#gt-chgd-calibMenu li:hover > a,
#gt-chgd-calibMenu li:hover > input {
    background-color: #C6C6C6;
    background-image: linear-gradient(bottom, #C6C6C6, #DDDDDD);
    color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #ffffff;
}

#gt-chgd-calibMenu li:hover > ul {
    display: block;
}

#gt-chgd-calibMenu ul ul {
    background-color: #C6C6C6;
    background-image: linear-gradient(bottom, #C6C6C6, #DDDDDD);
    border: solid 1px #b4b4b4;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    width: auto;
}

#gt-chgd-calibMenu input {
    border-radius: 5px;
    color: #e7e5e5;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 6px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#gt-chgd-calibMenu input:hover {
    background-color: #666666 !important;
    background-image: linear-gradient(bottom, #666666, #7d7d7d) !important;
    border-radius: 5px;
    color: #d7d7d7 !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#gt-chgd-calibMenu li:hover li input {
    background: none;
    border: none;
    box-shadow: none;
    color: #666;
}
